@{
    ViewData["Title"] = "Index";
}




<div class="image-container">
    <div class="image-item">
        <img src="~/images/box1.jpg" alt="Bild 1">
        <p>Registrera din hund</p>
        <a href="~/hundregister.html"><button>Hundregister</button></a>
    </div>

    <div class="image-item">
        <img src="~/images/box2.jpg" alt="Bild 2">
        <p>Uppfödare över hela världen</p>
        <a href="~/hundregister.html"><button>Katalog</button></a>
    </div>

    <div class="image-item">
        <img src="~/images/box3.jpg" alt="Bild 3">
        <p>Bilder av Chinese Crested Dog</p>
        <a href="~/hundregister.html"><button>Galleri</button></a>
    </div>

    <div class="image-item">
        <img src="~/images/box4.jpg" alt="Bild 4">
        <p>Rasrelaterade skrifter</p>
        <a href="~/hundregister.html"><button>Artiklar</button></a>

    </div>

