@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2>Search</h2>
    <form method="get" asp-action="Search" asp-controller="Search">
        <input type="text" name="query" placeholder="This doesn't work..">
        <button type="submit">Search</button>
    </form>
</div>
