@{
    ViewData["Title"] = "Index";
}





<div class="membership-page">
    <h1>Bli Medlem i Chinese Crested Dog Klubben</h1>

</div>

<div class="membership-section">

    <div class="membership-content">

        <div class="membership-description">

            <p>

                Välkommen till Chinese Crested Dog Klubben, en exklusiv gemenskap för älskare av denna underbara ras.
                <br />
                Genom att bli medlem får du tillgång till en rad medlemsförmåner och resurser.

            </p>

        </div>



        <div class="membership-image">

            <img src="~/images/team.svg" alt="Beskrivande text för bilden">

        </div>

    </div>



    <div class="membership-packages-container">

        <div class="membership-packages">

            <div class="membership-package">

                <h2>Basic</h2>

                <hr>

                <ul class="included">

                    <li><span class="checkmark-icon">✔</span>Lägg in hundar</li>

                    <li><span class="checkmark-icon">✔</span>Titta på stamtavlor</li>

                    <li><span class="checkmark-icon">✔</span>Bläddra bakåt</li>

                    <li><span class="checkmark-icon">✔</span>Bilder maxantal 12 </li>

                </ul>

                <ul class="not-included">

                    <li><span class="crossmark-icon">✘</span>Provparning</li>

                    <li><span class="crossmark-icon">✘</span>Kennelsida</li>

                    <li><span class="crossmark-icon">✘</span>Valpkullannonser</li>

                    <li><span class="crossmark-icon">✘</span>Obegränsat med bilder</li>

                </ul>



                <p class="euro-text">0 Euro</p>



                <button class="join-button">Bli medlem</button>

            </div>

        </div>



        <div class="membership-packages">

            <div class="membership-package">

                <h2>Medium</h2>

                <hr>

                <ul class="included">


                    <li><span class="checkmark-icon">✔</span>Lägg in hundar</li>

                    <li><span class="checkmark-icon">✔</span>Titta på stamtavlor</li>

                    <li><span class="checkmark-icon">✔</span>Bläddra bakåt</li>

                    <li><span class="checkmark-icon">✔</span>Bilder maxantal 12 </li>

                    <li><span class="checkmark-icon">✔</span>Provparning</li>

                </ul>



                <ul class="not-included">

                    <li><span class="crossmark-icon">✘</span>Kennelsida</li>

                    <li><span class="crossmark-icon">✘</span>Valpkullannonser</li>

                    <li><span class="crossmark-icon">✘</span>Obegränsat med bilder</li>

                </ul>

                <p class="euro-text">20 Euro</p>



                <button class="join-button">Köp</button>

            </div>

        </div>



        <div class="membership-packages">

            <div class="membership-package">

                <h2>Premium</h2>

                <hr>

                <ul class="included">


                    <li><span class="checkmark-icon">✔</span>Lägg in hundar</li>

                    <li><span class="checkmark-icon">✔</span>Titta på stamtavlor</li>

                    <li><span class="checkmark-icon">✔</span>Bläddra bakåt</li>

                    <li><span class="checkmark-icon">✔</span>Bilder maxantal 12 </li>

                    <li><span class="checkmark-icon">✔</span>Provparning</li>



                    <li><span class="checkmark-icon">✔</span>Kennelsida</li>

                    <li><span class="checkmark-icon">✔</span>Valpkullannonser</li>

                    <li><span class="checkmark-icon">✔</span>Obegränsat med bilder</li>



                </ul>



                <p class="euro-text">50 Euro</p>



                <button class="join-button">Köp</button>

            </div>

        </div>

    </div>



    <p class="bottom-text">
        Vi ser fram emot att välkomna dig som medlem i vår Chinese Crested Dog Klubb.
        <br />
        Tillsammans kan vi dela vår passion för denna underbara ras och arbeta för dess bästa.
    </p>

</div>
